@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Dak Hanmari Korean BBQ<br />
    5 Auburn St, Takapuna<br />
    <abbr title="Phone">P:</abbr>
    09-488-0012
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zhenli336@gmail.com">zhenli336@gmail.com</a><br />
</address>